<div layout="column" ng-cloak class="md-inline-form" layout-padding>
    <form name="form">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input name="name" ng-model="$ctrl.user.name" placeholder="Anon" md-maxlength="30" required>

            <div ng-messages="form.name.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">You must supply a name Anonboi.</div>
                <div ng-message="md-maxlength" class="my-message">Sue ur parents for ur longass name.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Address</label>
            <input name="address" ng-model="$ctrl.user.address" placeholder="Sadstreet 404" required>

            <div ng-messages="form.address.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Under what bridge do u live.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input name="city" ng-model="$ctrl.user.city" placeholder="Feelscity" required>

            <div ng-messages="form.city.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">I don't know that darkhole...</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input name="email" ng-model="$ctrl.user.email" placeholder="superd@nkme.me" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
                required />

            <div ng-messages="form.email.$error" role="alert" multiple>
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Pretend you are an email</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>IBAN</label>
            <input name="iban" ng-model="$ctrl.user.iban" placeholder="IDEK" required>

            <div ng-messages="form.iban.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Can't scam u withot dis</div>
            </div>
        </md-input-container>
    </form>
</div>