<md-card-header>
    <md-card-header-text>
        <span class="md-title">{{$ctrl.laptop.name}}</span>
    </md-card-header-text>
</md-card-header>
<img ng-src="{{'images/' + $ctrl.laptop.image}}" class="md-card-image" alt="Washed Out">
<md-card-title>
    <md-card-title-text>
        <span class="md-headline">${{$ctrl.laptop.price}}</span>
        <span class="md-subhead">{{$ctrl.laptop.description}}</span>
    </md-card-title-text>
</md-card-title>
<md-card-actions layout="row" layout-align="start">
    <md-button ng-show="!$ctrl.getLaptop()" ng-click="$ctrl.bash($ctrl.laptop)">Bash it</md-button>
</md-card-actions>