* {
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0 auto;
    background-color: rgb(64, 28, 56);
    color: lightgray;
    font-family: 'Roboto', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80vw;
}

.laptops-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.laptop-container {
    display: flex;
    width: 100%;
    text-align: center;
}

laptop .md-card-image {
    height: 200px;
}

config {
    margin-left: 32px;
    margin-right: 32px;
}