* {
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0 auto;
    background-color: rgb(64, 28, 56);
    color: lightgray;
    font-family: 'Roboto', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80vw;
    justify-content: center;
}

picker {
    margin: 0 auto;
    flex-direction: row;
}

.laptops-container {
    display: flex;
    flex-direction: row;
}

.laptop-container {
    width: 300px;
    text-align: center;
}

laptop .md-card-image {
    height: 200px;
    margin: 0 auto;
}